body{
    font-family: sans-serif;
}
.service-section h1{
   text-align: center; 
}
.service-section > p{
    text-align: center;
}
.service-container{
    padding: 50px;
}
.services{
    background-color: rgb(212, 208, 208);
    width: 22%;
    float: left;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid blue;
    transition: 0.5s;
}
.services:hover{
    background-color: red;
    color: white;
}