body{
    font-family: sans-serif;
    /* background-color: rgb(235, 243, 243); */
    background: rgb(9,9,121);
    background: linear-gradient(278deg, rgba(9,9,121,1) 35%, rgba(255,59,0,1) 100%);
    height: 100vh;
}
.myform{
    background-color: rgb(250, 250, 250);
    width: 300px;
    margin: 10% auto 10% ;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(235, 243, 243);
}
.myform h1{
text-align: center;
}

.input-group{
    margin: 10px 5px;
}
.input-group input{
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid rgb(90, 106, 197);
    border-radius: 10px;
}
.input-group input:focus{
    outline: 2px solid rgb(114, 79, 114) ;
}
.input-group input[type=submit]
{
    /* background-color: blue; */
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 50%;
    margin: auto;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.input-group input[type=submit] :hover{
    transition: 0.5s;
}