body{
    font-family: sans-serif;
}
.service-heading{
    text-align: center;
}
.service-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 15px;
   padding: 20px 150px;
}
.service{
    background-color: rgb(243, 246, 248);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 1px 2px 8px rgb(197, 191, 191) ;
    cursor: pointer;
    transition: 0.5s;
}
.service :hover{
    box-shadow: 1px 2px 8px rgb(197, 191, 191) ;
    transform: scale(1.01);
}
.service p{
    text-align: justify;
}
@media(max-width:1024px){
    .service-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:912px){
.service-container{
    padding: 20px 50px;
}
}
@media(max-width:612px){
    .service-container{
      grid-template-columns: 1fr;
      padding: 20px;
    }
}
