@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
h1{
    color: red;
}
/* This is a comment in css */
.description{
    font-weight: bold;
    font-size: 40px;
}
.myheading{
    color: rgb(185, 16, 100);
    background-color: yellow;
    padding: 20px;
    border: 20px solid rgb(8, 8, 8);
    margin: 30px;
}
.mydiv{
    background-color: brown;
    color: black;
    width: 20%;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    display: inline-block;
}
a{
    color: black;
    display: block;
}