.footer{
    background-color: blue;
    color: white;
    padding: 10px 50px;
}
.upper-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.footer-subscribe{
    margin: 5px 0;
}
.mybtn{
    border-radius: 10px;
    border: 1px solid white;
    color: rgb(63, 24, 170);
    padding: 5px 5px;
    text-decoration: none;
}
.mybtn-subscribe{
    background-color: rgb(239, 238, 243);
    color: rgb(66, 10, 150);
    padding: 5px 5px;
    text-decoration: none;
    margin: 1px;
    border-radius: 10px;
    width: 90px;
}
.lower-footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(44, 44, 172);

}